/* .banner {
    background-color: #f8f8f8;
    padding: 100px 0;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
.button{
    padding: 16px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease} 
   */

   .cont {
    background-image: url('../Assets/Banner.jpg');
    background-size: cover; 
    background-position: center; 
    position: relative;
    background-position: 50%;
    height: 650px;
    display: flex;
  }