.blog.section {
    padding-bottom: 80px!important;
}
.section {
    /* padding-bottom: 110px;
    padding-top: 110px; */
    position: relative;
}
 :after, :before {
    box-sizing: border-box;
}
/* @media (min-width: 1200px){
    .container {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
} */

@media screen and (min-width: 1200px){
    .container {
        max-width: 1170px;
        padding: 0;
    }
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}
 .section_header {
    margin-right: 100px;
}
.section_header {
    margin-bottom: 45px;
}
.section_header .section_sub_title {
    color: #ffa903;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.section_header .section_desc {
    color: #656a7c;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    max-width: 530px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffa903;
    
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    color: var(--white-color);
    cursor: pointer;
    display: inline-block;
    font-family: Nunito Sans,sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    min-width: 200px;
    outline: none;
    overflow: hidden;
    padding: 16px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
}
.dark-theme .blog_post {
    box-shadow: none;
}
.blog_post, .blog_post .post_img {
    position: relative;
}
.blog_post {
    margin: 0 0 30px;
}
.blog_post .post_img {
    position: relative;
}
 .post_content {
    background-color: #002a5c;
   
    border-color: hsla(218,4%,61%,.3);
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    margin: 0;
    padding: 35px 25px 35px 45px;
    position: relative;
}


    
 .post_intro {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
}
.post_footer {
    margin-top: 30px;
}


