.btn {
  cursor: pointer;
  padding-top: 15px;
  box-sizing: border-box;

  background-color: #f8a555;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600px;
  padding: 14px 28px;
  border: 1px solid #f8a555;
  text-transform: uppercase;
  transition: all 0.6s ease;
}
.navbar-nav {
  cursor: pointer;
  text-transform: uppercase;
}
.navbar-nav:hover {
  color: #f8a555;
}
.nav-link:hover {
  color: #f8a555;
}
.nav-item > .nav-link:hover {
  color: #f8a555;
}
.nav-item:hover {
  color: #f8a555;
}
.nav-item:hover > .dropdown-menu {
  padding: 0px;
  display: block;
  border-top: 2px solid #f8a555;
  border-radius: 0px;
}

.dropdown-item:hover {
  background-color: #f8a555;
  color: #fff;
}
.dropdown-item {
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 15px 15px;
  width: 225px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  background: #fff;
}
.dropdown-menu.show {
  display: block;
  border-top: 2px solid #f8a555;
  border-radius: 0px;
  text-transform: uppercase;
}

.full-screen-preview__frame {
  width: 100%;
  background-color: white;
}
