/* .testimonial {
    background: #f2f7f7;
    padding-top: 185px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}
.section_header {
    margin-bottom: 45px;
}
.text-center {
    text-align: center!important;
}
.section_header .shadow_icon {
    margin-bottom: -30px;
}
.section_header .section_sub_title {
    color: #ffa903;
   
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.dark-theme.testimonial.section_header.section_title {
    color: #002a5c;
    
}
.section_header .section_desc {
    color: #656a7c;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    max-width: 530px;
}
.testibox1 .testibox_inner {
    background: #fff;
    border: 1px solid #eee;
    padding: 30px 25px 40px 45px;
    position: relative;
    transition: all .8s ease-in;
    box-sizing: border-box;
} */
